
EducationPLus/EducationPLus/bin/Debug/net6.0-windows/EducationPLus.pdb
EducationPLus/EducationPLus/bin/Debug/net6.0-windows/EducationPLus.dll
EducationPLus/EducationPLus/obj/Debug/net6.0-windows/EducationPLus.csproj.GenerateResource.cache
EducationPLus/EducationPLus/obj/Debug/net6.0-windows/EducationPLus.dll
EducationPLus/EducationPLus/obj/Debug/net6.0-windows/EducationPLus.dll
EducationPLus/EducationPLus/obj/Debug/net6.0-windows/EducationPLus.pdb
.vs/clonedproject/v17/.wsuo
EducationPLus/.vs/EducationPLus/DesignTimeBuild/.dtbcache.v2
